@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 80px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

/* 헤더 영역 */
.logo {
  width: 200px;
}

header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header ul {
  display: flex;
}

header ul li {
  margin: 0 25px;
  margin-top: 30px;
}

header ul li a:hover {
  font-weight: 800;
}

header label {
  cursor: pointer;
}

/* 로그인&회원가입 영역 */
input[name="header"] {
  display: none;
}

.modal {
  /* display: none; */
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.7);
}

.modal_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 500px;
  height: 600px;
  margin-top: 100px;
  border-radius: 20px;
  text-align: center;
}

.input {
  width: 300px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px black solid;
  margin: 10px;
}

/* .modal_body button {
  margin: 10px;
} */

#registerModal img {
  width: 150px;
}

#login:checked ~ #loginModal,
#register:checked ~ #registerModal {
  display: flex;
  animation: fadein 0.5s;
}

/* Up comming 축제 영역 */
input[name="slide"] {
  display: none;
}

.a {
  z-index: 0;
}

.upComming {
  width: 1000px;
  height: 600px;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide > img {
  width: 1000px;
  height: 100%;
}

.slide_text {
  position: absolute;
  top: 200px;
  left: 360px;
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
}

.slide_text .left {
  position: absolute;
  left: -350px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 50px;
}

.slide_text .right {
  position: absolute;
  right: -270px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 50px;
}

@keyframes slide1 {
  0%,
  33.33%,
  100% {
    transform: translateX(0%);
  }

  38.33%,
  71.66% {
    transform: translateX(-100%);
  }

  76.66%,
  100% {
    transform: translateX(-200%);
  }
}

@keyframes slide2 {
  0%,
  33.33%,
  100% {
    transform: translateX(-100%);
  }

  38.33%,
  71.66% {
    transform: translateX(-200%);
  }

  76.66%,
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide3 {
  0%,
  33.33%,
  100% {
    transform: translateX(-200%);
  }

  38.33%,
  71.66% {
    transform: translateX(0%);
  }

  76.66%,
  100% {
    transform: translateX(-100%);
  }
}

#slide1:checked ~ .slide {
  transform: translateX(0);
  animation: slide1 9s infinite;
}

#slide2:checked ~ .slide {
  transform: translateX(-100%);
  animation: slide2 9s infinite;
}

#slide3:checked ~ .slide {
  transform: translateX(-200%);
  animation: slide3 9s infinite;
}

/* best 축제 영역 */
input[name="best"] {
  display: none;
}

.best {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#festivals-container img {
  height: 200px;
}

.card {
  margin: 5px;
}

.best_img {
  width: 200px;
  height: 130px;
  border-radius: 20px;
  margin: 0 auto;
}

.bestModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#bestFestivalModal table {
  margin: 10px;
}

#bestFestivalModal table th,
#bestFestivalModal table td {
  border-bottom: 1px solid black;
  text-align: center;
  width: 210px;
  padding: 10px;
}

#bestFestivalModal {
  text-align: center;
}

#닫기:checked ~ .modal,
.서울드림페스티벌Modal,
.서울뮤직페스티벌Modal,
.서울국악축제Modal,
.서울페스타Modal,
.서울바비큐페스티벌Modal {
  display: none;
}

/* input[name="best"]:checked~.modal,
#서울드럼페스티벌:checked~.modal .서울드림페스티벌Modal,
#서울뮤직페스티벌:checked~.modal .서울뮤직페스티벌Modal,
#서울국악축제:checked~.modal .서울국악축제Modal,
#서울페스타:checked~.modal .서울페스타Modal,
#서울바비큐페스티벌:checked~.modal .서울바비큐페스티벌Modal {
  display: block;
  animation: fadein 0.5s;
} */

/* 축제 찾기 영역 */
.festival_find {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search input,
.search select {
  text-align: center;
  width: 200px;
  height: 40px;
  margin: 0 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.search_result table th,
.search_result table td {
  padding: 5px 10px;
  border-bottom: 1px solid black;
  text-align: center;
}

.search_result_menu {
  text-align: center;
  font-size: 30px;
}

.search_result_menu label {
  cursor: pointer;
}

/* .clickable {
  cursor: pointer;
  transition: fill 0.3s;
} */

/* styles.css */

/* styles.css */
svg path {
  fill: #6f9c76;
  stroke: #ffffff;
  transition: fill 0.3s ease; /* 호버 시 부드러운 전환 효과 */
}

svg path:hover {
  fill: #ffcc00; /* 마우스 오버 시 색상 */
}

#sido {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}


/* 이달의 축제 영역 */
.calendar {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calendar_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.calendar table {
  text-align: center;
  table-layout: fixed;
}

.calendar table th,
.calendar table td {
  text-align: center;
  width: 150px;
  height: 100px;
  border: 1px solid black;
}

.title {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

#calendar-dates td {
  padding: 5px
}

#calendar-dates p:hover {
  font-weight: 900;
}

/* 푸터 영역 */
footer {
  width: 100%;
  height: 400px;
  background-color: gray;
  margin-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p {
  margin: 0 50px;
}

.footer_logo {
  filter: grayscale();
}

.footer_SNS {
  width: 50px;
  border-radius: 10px;
}
